body{
  z-index:2;
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-size: 62.5%;
  color:#eeeeee;
  font-family: 'roboto mono';
}
.container{
  max-width: 960px;
  margin: 0 auto;
}
.wrapper {
  width:80%;
  margin:0 auto;
  position:relative;
  background:#03a9f4;
}
.header{
  font-size:3em;
}
/* Reset Button style*/
.plusBtn{
  display:inline-block;
  position:absolute;
  right: 10%;
  top: 10px;
  /*transform: translateY(-50%);*/
  background: none;
  border:none;
  outline:none;
  padding:0;
}
main{
  background: #03a9f4;
}
.plusBtn:hover{
  font-size:1.5em;
  color:blue;
  transition: all 0.3s ease-in-out;
}
.plusBtn .icon-plus-circled{
  padding:0;
  font-size:2.2em;
  background: none;
  transition: all 0.3s ease-in-out;
  color:#eeeeee;
}
.messageEmptyList{
  position:absolute;
  top:50%;
  transform: translate(-50%,-50%);
  left:50%;
  background: #03a9f4;
  padding:10px;
  transition: opacity 0.3s ease-in-out;
}
.is-hidden{
  opacity:0;
  z-index:-10;
}
.fadeIn{
  opacity:0.6;
  z-index: 10;
  transition:all 0.3s ease-in-out;
}
.hideAll{
  position: absolute;
  top:0;
  width:100vw;
  height:100vh;
  background: #000;
  transition:all 0.3s ease-in;
}
.taskBox{
  position:absolute;
  top: 50%;
  left:50%;
  z-index:11;
  transform: translate(-50%,-50%);
  background: #03a9f4;
  padding:0px 5px 5px 5px;
  text-align: center;
}
.taskBox label{
  display:block;
}
